{% extends 'base.html.twig' %}

{% block title %}Générer un QrCode
{% endblock %}

{% block body %}
	
	<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

	<div class="container" style="height:400px">
		<h1 class="mt-5">Générer un QrCode</h1>
		<div class="row h-100">
			<div class="col-md-6 h-100 pt-5 mb-4">
				{{ form_start(form) }}
				{{ form_row(form.name, {'attr': {'class': 'form-control w-75', 'placeholder': 'Lien url'}}) }}
                <div class="mt-4 mb-4">
                    <div class="g-recaptcha" data-sitekey="6LcWYoIiAAAAAGJGR-OvySiJfZDVetQTHEHxQcN6"></div>
                </div>
				<button type="submit" class="btn btn-success btn-block w-75">Générer mon QrCode</button>
				{{ form_end(form) }}
                <div class="text-center w-75">
                    <a href="https://fr.tipeee.com/noelle-creatrice-appli-web" target="_blank"><img src="{{asset('assets/img/soutenez-moi.gif')}}" class="img-fluid" style="width:200px"></a>
                </div>
			</div>
			<div class="col-md-6 border bg-fade bg-gradient h-100 border-radius box-shadow text-center">
				<p class="text-center pt-4">Ici votre Qr-Code</p>
				<hr>
				{% if qrCode %}
					<img src="{{ qrCode }}" alt="qr-code">
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
